<div class="navbar">
  <div class="goBackBtn" *ngIf="checklistSelected" (click)="unselectChecklist()">
    <img src="https://icons.veryicon.com/png/o/miscellaneous/tool-icon-library/return-104.png">
  </div>
  <img src="assets/logo.png" class="logo">
</div>


<div *ngIf="checklistSelected">
  <app-checklistsection [checklist]="checklist" [editor]="editor"
                        [editingAllowed]="editingAllowed"></app-checklistsection>
</div>

<div *ngIf="!checklistSelected" class="container">
  <h1 class="title">Select an aircraft</h1>
  <div class="aircraftPickOuterContainer">
    <div class="aircraftPickInnerContainer" *ngFor="let checklist of checklists">
      <div class="aircraftPick" (click)="selectChecklist(checklist)">
        <img
          src="{{checklist.image}}" (error)="imgError($event)">
        <h1>{{checklist.aircraft}}</h1>
      </div>
      <div class="deleteBtn" (click)="deleteChecklist(checklist)" *ngIf="editingAllowed">
        <h3>Delete</h3>
      </div>
    </div>
  </div>

  <div class="addNew" *ngIf="editingAllowed" (click)="newChecklist()">
    <h2>Create a new checklist</h2>
  </div>
  <div class="unlockBtn addNew" (click)="unlockEditing()">
    <h1 *ngIf="!editingAllowed">Unlock editing</h1>
    <h1 *ngIf="editingAllowed">Lock editing</h1>
  </div>
</div>

<div class="passwordDialog" *ngIf="showDialog">
  <h1>Enter password</h1>
  <input type="password" [textContent]="''" [(ngModel)]="passwdString">
  <div style="display: flex; flex-direction: row;">
    <button [textContent]="'Unlock'" (click)="enterPassword()"></button>
    <button [textContent]="'Cancel'" (click)="showDialog = false"></button>
  </div>
  <p *ngIf="passwordIncorrect">Password incorrect</p>
</div>
