<div *ngIf="!checklistSelected">
  <div *ngFor="let checklist of checklists">
    <h2 (click)="selectChecklist(checklist)">{{checklist.aircraft}}</h2>
  </div>
  <div>
    <h2 (click)="newChecklist()">Add checklist</h2>
  </div>
</div>


<div *ngIf="checklistSelected">
  <div class="goBack"  (click)="unselectChecklist()">
    <h2>Go back</h2>
  </div>
  <app-checklistsection [checklist]="checklist"></app-checklistsection>
</div>

<div class="aircraftPickContainer">
  <div class="aircraftPick">
    <img
      src="https://images.flightsim.to/images/25/a32nx-internation-airways-rebranded-8k-livery-446974-1688314014-69MKP.jpg">
    <h1>A20N</h1>
  </div>

  <div class="aircraftPick">
    <img
      src="https://images.flightsim.to/images/25/a32nx-internation-airways-rebranded-8k-livery-446974-1688314014-69MKP.jpg">
    <h1>A20N</h1>
  </div>

  <div class="aircraftPick">
    <img
      src="https://images.flightsim.to/images/25/a32nx-internation-airways-rebranded-8k-livery-446974-1688314014-69MKP.jpg">
    <h1>A20N</h1>
  </div>

  <div class="aircraftPick">
    <img
      src="https://images.flightsim.to/images/25/a32nx-internation-airways-rebranded-8k-livery-446974-1688314014-69MKP.jpg">
    <h1>A20N</h1>
  </div>

  <div class="aircraftPick">
    <img
      src="https://images.flightsim.to/images/25/a32nx-internation-airways-rebranded-8k-livery-446974-1688314014-69MKP.jpg">
    <h1>A20N</h1>
  </div>
</div>
