<div class="navbar">\
  <div class="goBackBtn" *ngIf="checklistSelected" (click)="unselectChecklist()">
    <img src="https://icons.veryicon.com/png/o/miscellaneous/tool-icon-library/return-104.png">
  </div>
  <img src="assets/logo.png" class="logo">

  <div class="unlockBtn" (click)="unlockEditing()">
    <h1>Unlock editing</h1>
  </div>
</div>


<div *ngIf="checklistSelected">
  <app-checklistsection [checklist]="checklist" [editor]="editor"
                        [editingAllowed]="editingAllowed"></app-checklistsection>
</div>

<div *ngIf="!checklistSelected" class="container">
  <h1 class="title">Select an aircraft</h1>
  <div class="aircraftPickOuterContainer">
    <div class="aircraftPickInnerContainer" *ngFor="let checklist of checklists">
      <div class="aircraftPick" (click)="selectChecklist(checklist)">
        <img
          src="{{checklist.image}}" (error)="imgError($event)">
        <h1>{{checklist.aircraft}}</h1>
      </div>
      <div class="deleteBtn" (click)="deleteChecklist(checklist)" *ngIf="editingAllowed">
        <h3>Delete</h3>
      </div>
    </div>
  </div>
  <div class="addNew" *ngIf="editingAllowed" (click)="newChecklist()">
    <h2>Create a new checklist</h2>
  </div>
</div>


